.yavl-container {
	position: relative;
	display: block;
	width: 100%;
}
.yavl-container input, .yavl-container textarea {
	box-sizing: border-box;
}
.yavl-container label {
	display: inline-block;
}
.y-label-top label{
	display: block;
}
.y-label-bottom label{
	display: block;
}
.y-label-left label{
	display: inline-block;
}
.y-label-right label{
	display: inline-block;
}
.y-label-infield label {
	position: absolute;
	left: 0;
	cursor: text;
}
.yavl-filled.y-label-infield label{
	display: none;
}